<article class="palabrator-web">
  <nav class="navbar is-fixed-bottom is-dark">
    <section class="navbar-brand">
      <a class="navbar-item" href="/">Palabrator Web</a>
      <a role="button" [ngClass]="{'navbar-burger': true, 'is-active': isMenuOpen }" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </section>

    <section [ngClass]="{'navbar-menu': true, 'is-active': isMenuOpen }">
      <div class="navbar-end">
        <a *ngIf="isAuthenticated" role="button" class="navbar-item" [routerLink]="['/perfiles']">Perfiles</a>
        <a *ngIf="isAuthenticated" role="button" class="navbar-item" [routerLink]="['/palabras']">Palabras</a>
        <a *ngIf="isAuthenticated" role="button" class="navbar-item" (click)="logout()">Cerrar Sesi&#243;n</a>
      </div>
    </section>
  </nav>
  <main class="palabrator-content container is-fluid">
    <router-outlet></router-outlet>
  </main>
  <footer class="palabrator-footer footer">
    <div class="content has-text-centered">
      <p>
        <strong>Palabrator Web</strong> by <a href="https://blog.tunaxor.me">Angel D. Munoz</a> &copy; 2020
      </p>
    </div>
  </footer>
</article>